#left{
    float: left;
    padding-right: 0px;
}

#right{
    float: left;
    padding-left: 15px;
}

li{
    color: whitesmoke;
    
}

.jumbotron{
    padding-top: 20px;    
    max-height: 150px;
}

li:hover{
color: yellow;
cursor: pointer; 
 cursor: hand; 
}

img{
    max-width: 100%;
    height: auto;
    padding-left: 0px;
}